/* Con el "*" seleccionamos todas las etiquetas y reiniciamos su formato */

*{
    margin: 0; /* Es el margen del elemento*/
    padding: 0; /* Es el espacio entre el contenido del elemento y su borde*/
    box-sizing: border-box; /* indica cómo se deben calcular las medidas de un elemento*/
    text-decoration: none; /* Formato de texto, si subrayado, suprarrayado, tachado o ninguno */
    font-family: 'Roboto', sans-serif; /* La fuente de todo el documento */
}

body{
    background-image: url(Plato\ Giratorio.jpg); /* Con esto ponemos de background una imagen*/
    background-size: cover; /* Con esto se adapta al tamaño */
    background-repeat: no-repeat; /*Con esto no se repite el fondo */
    background-position: center; /* Asi el background se centra*/
    background-attachment: fixed; /*  Con esto se adapta al ancho y alto de la pagina*/
}

main{
    width: 100%;
    padding: 20px;
    margin: auto; /* Con esto se centre*/
    margin-top: 100px; /* Con esto baja un poco el contenido */
}

.contenedorTodo{
    width: 100%;
    max-width: 850px;
    margin: auto;
    position: relative; /*sirve para posicionar un elemento dentro de la página. 
                        Sin embargo, dependiendo de cual sea la propiedad que usemos,
                         el elemento tomará una referencia u otra para posicionarse respecto a ella.
                         El relative es la posición siguiendo el flujo normal de la pagina */  
}

/*Aqui pues le damos las propiedades a la caja trasera */
.cajaTrasera{
    width: 100%;
    padding: 10px 20px;
    display: flex; /* Es como para dividir en columnas el contenido dentro de la caja*/
    justify-content: center;
    backdrop-filter:  blur(10px);
    background-color:  rgba(174, 0, 255, 0.45); 
}

/* Aqui editamos los div "caja trasera login" y "caja trasera register" */
.cajaTrasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

/* Aqui espaciamos los botones */
.cajaTrasera div p,
.cajaTrasera div button{
    margin-top: 30px;
}

/* Editamos los titulos  */
.cajaTrasera div h3{
    font-weight: 400;
    font-size: 26px;
}


/* Le damos estilo a los botones*/
.cajaTrasera button{
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

/* Efecto hover sencillo, el efecto hover de la pseudo clase hover lo que hace es que 
cuando pasamos el  cursor por encima del botón este como que flota */
.cajaTrasera button:hover{
    background:white;
    color:rgba(119, 8, 170, 0.7);
}



/* Formularios */

.contenedorLoginRegister{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

/* A ambos formularios se le agrega este estilo*/
.contenedorLoginRegister form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px; /* Esto es pa que el borde sea curvo*/
}

/* Agregamos estilos a los titulos de los formularios */
.contenedorLoginRegister form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px; /* Esto es pa que haya espacio entre el titulo y los inputs*/
    color:rgba(119, 8, 170, 0.9);
}

/*Editamos los inputs de los formularios */
.contenedorLoginRegister form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 18px;
    outline: none;
}

/* Editamos los botones del formulario*/
.contenedorLoginRegister form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: rgba(119, 8, 170, 0.7);
    color: white;
    cursor: pointer;
    outline: none;
}

.formularioLogin{
    opacity: 1;
    display: block;
}

.formularioRegister{
    display: none;
}


/* Trabajando en el responsive design, esto es para que se adapte al tamaño de las pantallas*/

@media screen and (max-width: 850px) {
    
    main{
        margin-top: 50px;
    }

    .cajaTrasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .cajaTrasera div{
        margin: 0px;
        position: absolute;
    }

    /* Formularios */

    .contenedorLoginRegister{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedorLoginRegister{
        position: relative; /* Para que no se contrapongan */
    }
}