*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(Auto.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 25px;
    margin: auto;
    margin-top: 15px;
}

.cajaFormulario{
    width: 40%;
    padding: 5px 15px;
    justify-content: center;
    backdrop-filter:  blur(10px);
    background-color:  rgba(161, 74, 23, 0.349);
    border-radius: 15px;
    position: relative;
}

.cajaFormulario h2{
    font-size: 30px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px; /* Esto es pa que haya espacio entre el titulo y los inputs*/
    color:rgba(255, 255, 255, 0.9);
}


.formularioReto{
    margin: 10px 15px;
    padding: 10px;
    color: white;
}


.formularioReto select{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 14px;
    outline: none;
}

.formularioReto input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 14px;
    outline: none;
}

.formularioReto button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: rgb(204, 128, 13);
    color: white;
    cursor: pointer;
    outline: none;
}
